<a href="https://colab.research.google.com/github/MiguelASFerreira/AnaliseDeDados/blob/main/TDE3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [85]:
dados = pd.read_csv('natacao.csv')
dados_distancia = dados['Distancia']

In [3]:
dados

,Sede,Ano,Distancia,Estilo,Revesamento?,Genero,Equipe,Atleta,Tempo,Posicao
0,Tokyo,2020,100m,Costas,0,Masculino,ROC,Evgeny Rylov,51.98,1
1,Tokyo,2020,100m,Costas,0,Masculino,ROC,Kliment Kolesnikov,52,2
2,Tokyo,2020,100m,Costas,0,Masculino,USA,Ryan Murphy,52.19,3
3,Tokyo,2020,100m,Costas,0,Masculino,ITA,Thomas Ceccon,52.3,4
4,Tokyo,2020,100m,Costas,0,Masculino,CHN,Jiayu Xu,52.51,4
...,...,...,...,...,...,...,...,...,...,...
4354,Stockholm,1912,4x100,Livre,1,Feminino,SWE,"Greta Carlsson, Vera Thulin, Sonja Johnsson, G...",NaN,5
4355,Stockholm,1912,4x200,Livre,1,Masculino,AUS,"Malcolm Champion, Cecil Healy, Harold H. Hardw...",00:10:11.200000,1
4356,Stockholm,1912,4x200,Livre,1,Masculino,USA,"Duke Paoa Kahanamoku, Harry J. Hebner, Perry M...",00:10:20.200000,2
4357,Stockholm,1912,4x200,Livre,1,Masculino,GBR,"Thomas Sidney Battersby, Henry Taylor, John Ga...",00:10:28.600000,3
4358,Stockholm,1912,4x200,Livre,1,Masculino,GER,"Georg Kunisch, Kurt Bretting, Oscar Schiele, M...",00:10:37.000000,4


Tipos de Dados
1. Sede: Qualitativa
2. Ano: Quantativa
3. Distancia: Quantitativa
4. Estilo: Qualitativa
5. Revezamento: Quantitativa
6. Genero: Qualitativa
7. Equipe: Qualitativa
8. Atleta: Qualitativa
1. Tempo: Qualitativa
1. Posicao: Quantitativa

Media

In [18]:
media = dados['Posicao'].mean()
print(media)

3.16494608855242

Mediana

In [19]:
mediana =  dados['Posicao'].median()
print(mediana)

4.0

Moda

In [16]:
moda = dados['Posicao'].mode()
print(moda)

0    4
Name: Posicao, dtype: int64

Desvio Padrão

In [17]:
dp = dados['Posicao'].std()
print(dp)

1.1897145795144424

Maoir nível de participação masculino

In [32]:
participacoes = {}

for index, row in dados.iterrows():
    if row['Genero'] == 'Masculino':
        atleta = row['Atleta']
        
        if atleta in participacoes:
            participacoes[atleta] += 1
        else:
            participacoes[atleta] = 1

mais_participacoes = max(participacoes, key=participacoes.get)

print("Atleta:", mais_participacoes)

Atleta: Michael Phelps

Maoir nível de participação feminino

In [88]:
participacoes = {}

for index, row in dados.iterrows():
    if row['Genero'] == 'Feminino':
        atleta = row['Atleta']
        
        if atleta in participacoes:
            participacoes[atleta] += 1
        else:
            participacoes[atleta] = 1

mais_participacoes = max(participacoes, key=participacoes.get)

print("Atleta:", mais_participacoes)

Atleta: Kirsty Leigh Coventry

Páis de Brozne

In [89]:
medalhas = {}

for index, row in dados.iterrows():
    if row['Posicao'] == 3:
        sede = row['Equipe']
        
        if sede in medalhas:
            medalhas[sede] += 1
        else:
            medalhas[sede] = 1

mais_medalhas = max(medalhas, key=medalhas.get)

print("Equipe:", mais_medalhas)

Equipe: USA